# Avant Ski/ Send It

by: Stephanie Ciaccia

# Overview

Skiing holds a prominent place for those seeking winter recreational activities in the United States. With its stunning mountain ranges and diverse terrain, the country boasts numerous ski resorts that cater to all skill levels, from beginners to seasoned professionals. Skiing offers a unique blend of adventure, physical activity, and natural beauty, making it a popular choice for winter enthusiasts seeking both relaxation and excitement.

The ski market in the United States is thriving, contributing significantly to the economy. According to the [National Ski Areas Association (NSAA)](chrome-extension://efaidnbmnnnibpcajpcglclefindmkaj/https://nsaa.org/webdocs/Media_Public/IndustryStats/Historical_Skier_Days_1979_2022.pdf), approximately 60.7 million skiers and snowboarders visited 473 ski resorts in the 2021-2022 winter season.

# Business Problem

Skiing is an exhilarating winter activity enjoyed by many, but barriers such as high costs and limited accessibility often hinder people from fully experiencing its joys. Choosing the right ski resort can be overwhelming due to the multitude of options available, and existing websites lack dynamic filtering capabilities based on user preferences.

To address these challenges, I'm developing Avant Ski, a ski resort recommendation app. Avant Ski simplifies the ski resort selection process by leveraging data and user preferences. With dynamic filtering features, users can personalize their search based on budget, location, amenities, and skill level. By bridging the gap between ski enthusiasts and their dream destinations, Avant Ski makes skiing accessible to a wider audience, empowering them to plan unforgettable ski trips with confidence.

# Data Understanding

In [1]:
import pandas as pd
import numpy as np
import math
from datetime import datetime
import datetime
from scipy import stats

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import plotly
import plotly.express as px
import plotly.io as pio
from matplotlib.ticker import StrMethodFormatter

from surprise.model_selection import cross_validate
from surprise import Dataset, Reader, accuracy
from surprise.prediction_algorithms import KNNWithMeans, KNNBasic, KNNBaseline, KNNWithZScore,  SVD, SVDpp, NMF, BaselineOnly, CoClustering, SlopeOne, NormalPredictor
from surprise.model_selection import GridSearchCV, cross_validate, train_test_split

from collections import Counter
from nltk.corpus import stopwords

from IPython.display import Image, display

Function to print full rows

In [2]:
def print_full(x):
    pd.set_option('display.max_rows', len(x))
    print(x)
    pd.reset_option('display.max_rows')

# Importing Data Files

In [3]:
final_user_df = pd.read_csv("data/cleaned_data_exports/user_df_model.csv")

In [92]:
content_df = pd.read_csv("data/cleaned_data_exports/scraped_feature_df.csv")

# Data Modeling - Recommendation System
The proposed recommendation system will adopt a cascade hybrid approach, integrating user-based filtering and content-based recommendation systems.

This **cascade hybrid** approach establishes a hierarchical structure within the recommendation system. The primary model, a collaborative user-based system, will generate the initial set of recommendations based on user preferences and ratings. Then, a secondary model, a content-based system, will refine the recommendations by considering additional factors such as mountain characteristics and user-defined filters. This two-step process aims to provide more accurate and personalized ski resort suggestions.

In the **user-based collaborative** filtering phase, the model will analyze the historical ratings of users for different ski resorts. By identifying users with similar rating patterns, the model will predict the target user's ratings for unvisited resorts, leveraging the collective wisdom of similar users.

The **content-based system** operates by constructing a matrix of resort features and determining the similarity between resorts based on these features. This approach allows the system to identify resorts with similar characteristics and recommend them based on user preferences.

To evaluate the accuracy of the collaborative model, the **Root Mean Square Error (RMSE)** score will be used. This metric quantifies the difference between the actual ratings and the predicted ratings, providing insights into the model's performance in capturing user preferences.

While the content-based system does not have an accuracy score, a combination of ski expertise and specific user information will be utilized to subjectively assess the effectiveness of the hybrid model.

By utilizing both user-based and content-based approaches, the cascade hybrid recommendation system aims to enhance the ski resort selection process, **offering users more personalized and relevant recommendations**.

### Surprise Data
To make this model, we will be using the python package Surprise. This is a scikit tool that uses a range of algorithms made up of matrix factorization-based methods for collaborative filtering. 

To begin, we will make new dataframe from our final cleaned dataframe with three columns that include user **id, ratings, and movie ids.**

In [4]:
final_user_df.drop(columns="Unnamed: 0", inplace=True)

In [5]:
final_user_df['rating'].value_counts()

5.0    1127
4.0     936
3.0     420
2.0     197
1.0     115
Name: rating, dtype: int64

In [6]:
final_user_df.loc[final_user_df['ski_resort'] == "Mt. Bohemia"]

,review_date,state,ski_resort,rating,review,user_name
1582,2010-11-28,Michigan,Mt. Bohemia,5.0,We happened upon this place about 7 or 8 years...,Peter Mende
1613,2010-12-27,Michigan,Mt. Bohemia,5.0,Best in the Midwest \r\nI pulled up in the par...,A. cooper
1762,2011-02-27,Michigan,Mt. Bohemia,5.0,The scenery and weather is always top notch in...,skylolow
1954,2012-03-05,Michigan,Mt. Bohemia,5.0,"Best place east of the rockies for steeps, tre...",Adye 1
2137,2014-01-28,Michigan,Mt. Bohemia,5.0,"This was my first visit to Bohemia, and I will...",Linda Smith
2345,2016-03-16,Michigan,Mt. Bohemia,5.0,I was also there on the 13 of March. When I lo...,Ryan Craig

In [7]:
#copying final rewview dataframe
surprise_df = final_user_df.copy()

#dropping unneeded columns
surprise_df = surprise_df[['user_name', 'ski_resort', 'rating']]

In [8]:
surprise_df

          user_name                       ski_resort  rating
0            anon_1                      Winter Park     4.0
1            anon_1                   Arapahoe Basin     5.0
2            anon_1                        Steamboat     5.0
3            anon_1                  Copper Mountain     5.0
4            anon_2                Solitude Mountain     5.0
...             ...                              ...     ...
2802  Payton Sharum  Snowy Range Ski Recreation Area     5.0
2803     Lori Young                        Discovery     5.0
2804     Lori Young                        Discovery     5.0
2805  Steven Freund                Solitude Mountain     5.0
2806        Matt  H                        Mt. Baker     5.0

[2807 rows x 3 columns]

In [9]:
# counting the number of reviews for each user
value_counts = surprise_df['user_name'].value_counts()

# selecting only users with more than three reviews
selected_users = value_counts[value_counts > 2].index

# selecting only the rows where the user_name is in the selected_users list
surprise_df = surprise_df[surprise_df['user_name'].isin(selected_users)]

In [10]:
surprise_df['ski_resort'].value_counts()

Ski Brule              67
Killington             49
Vail                   49
Breckenridge           48
Snowbird               35
                       ..
Bradford                1
Mad River Mountain      1
New Hermon Mountain     1
Black Mountain          1
Soda Springs            1
Name: ski_resort, Length: 269, dtype: int64

In [11]:
from surprise import Reader, Dataset

reader = Reader(rating_scale=(1, 5))

#loading final dataset
data = Dataset.load_from_df(surprise_df[['user_name', 'ski_resort', 'rating']], reader)

#spltting into train and test
trainset, testset = train_test_split(data, test_size=0.2, random_state=42)

In [12]:
#looking at number of users
print('Number of users: ', trainset.n_users, '\n')
print('Number of items: ', trainset.n_items)

Number of users:  534

Number of items:  264

### Normal Predictor Model

The Normal Predictor baseline model's Root Mean Squared Error (RMSE) tells us that our predicted rating is **1.41** points away from the actual rating.

In [13]:
# Instantiate the model
baseline = NormalPredictor()

#fitting model
baseline.fit(trainset)

# making prediction on testset
predictions = baseline.test(testset)

# Save RMSE score
baseline_normal = accuracy.rmse(predictions)

RMSE: 1.3587

In [14]:
#saving normal rmse
test_baseline_normal_rmse = 1.358

In [35]:
data_rmse = [['normal predictor', 1.358, 'n/a']]

model_df = pd.DataFrame(data_rmse, columns=['model', 'rmse', 'params'])

In [36]:
model_df

              model   rmse params
0  normal predictor  1.358    n/a

#### Defining a function to save the RMSE for all model iterations.

In [37]:
def model_comp(model_name, rmse, params):
    model_df.loc[len(model_df.index)] = [model_name, rmse, params]

The Normal Predictor baseline model's Root Mean Squared Error (RMSE) tells us that our predicted rating is **1.41** points away from the actual rating.

### Algorithim Selection

To start off, I'll be testing all algorithms available in Surprise to deterime which models I should I should further adjust hyperparameters.

This code was adapated from this [blog](https://towardsdatascience.com/building-and-testing-recommender-systems-with-surprise-step-by-step-d4ba702ef80b0)

In [19]:
benchmark = []

# Iterate over all algorithms to see which performs beset
for algorithm in [SVD(), SVDpp(), SlopeOne(), NMF(), NormalPredictor(), KNNBaseline(), KNNBasic(), KNNWithMeans(), KNNWithZScore(), BaselineOnly(), CoClustering()]:
    
    # Perform cross validation
    results = cross_validate(algorithm, data, measures=['RMSE'], cv=3, verbose=False)
    
    # Get results & append algorithm name
    tmp = pd.DataFrame.from_dict(results).mean(axis=0)
    tmp = tmp.append(pd.Series([str(algorithm).split(' ')[0].split('.')[-1]], index=['Algorithm']))
    benchmark.append(tmp)
    
benchmark_df = pd.DataFrame(benchmark).set_index('Algorithm').sort_values('test_rmse')

Estimating biases using als...
Computing the msd similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the msd similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Estimating biases using als...
Estimating biases using als...

In [20]:
benchmark_df

                 test_rmse  fit_time  test_time
Algorithm
SVD               0.966697  0.079655   0.003514
SVDpp             0.969806  0.184336   0.009329
BaselineOnly      0.993994  0.001776   0.002175
KNNBaseline       1.000573  0.006783   0.011771
KNNBasic          1.046057  0.003577   0.008980
KNNWithZScore     1.157397  0.016383   0.010859
KNNWithMeans      1.164445  0.007534   0.009893
CoClustering      1.182761  0.059844   0.002621
NMF               1.192029  0.127330   0.002829
SlopeOne          1.204152  0.004119   0.003798
NormalPredictor   1.411307  0.001365   0.003278

From the intiial test, SVDpp and SVD had the lowerse RMSE scores. I will start adjusting hyperparameters to see which model will perform the best.

### Model #1 - SVD

We will be using Singular Value Decomposition (SVD) to reduce the dimensionality of our matrix. SVD is a matrix factorization model that decomposes the reviewer reviews and movies into three matrices. This helps us understand the relationship between users and items, or in this case users and ski resorts.

In [21]:
# Cross validate a basic SVD with no hyperparameter tuning expecting sub-par results
svd_basic = SVD(random_state=42)

results = cross_validate(svd_basic, data, measures=['RMSE'], cv=3, n_jobs = -1, verbose=True)

Evaluating RMSE of algorithm SVD on 3 split(s).

                  Fold 1  Fold 2  Fold 3  Mean    Std
RMSE (testset)    0.9376  1.0281  0.9532  0.9730  0.0395
Fit time          0.08    0.08    0.08    0.08    0.00
Test time         0.00    0.00    0.00    0.00    0.00

In [22]:
# Fit to trainset and predict on the testset for evaluation
svd_basic.fit(trainset)

predictions = svd_basic.test(testset)

svd_simple = accuracy.rmse(predictions)

RMSE: 0.9254

In [38]:
model_comp('svd', .925, 'n/a')

### Model #2 - SVD Grid Search

In [28]:
#test grid search
params = {'n_factors': [10, 20, 50, 80, 100],
          'n_epochs': [5, 10, 20, 30, 40, 50],
          'init_mean': [-0.5, 0, 0.5],
         'biased': [True, False]}

g_s_svd = GridSearchCV(SVD, param_grid=params, cv=5, refit=True)

g_s_svd.fit(data)
g_s_svd.best_params['rmse']

{'n_factors': 80, 'n_epochs': 50, 'init_mean': 0, 'biased': True}

In [24]:
# instantiating SVD with best hyperparameters from gridsearch
g_s_svd = SVD(n_factors=80 ,n_epochs=50, init_mean=0, biased=True)

# fit on trainset and make predictions using testset
g_s_svd.fit(trainset)
predictions = g_s_svd.test(testset)
g_s_svd_1 = accuracy.rmse(predictions)

RMSE: 0.9062

In [40]:
model_comp('svd_grid_1', .92, {'n_factors': 80, 'n_epochs': 50, 'init_mean': 0, 'biased': True})

### Model #3 - SVD Grid Search # 2

Our previous model was overfit, as the test RMSE was higher than the train RMSE. I will lower n_factors and n_epochs in attempt to fix this.

In [32]:
#test grid search
params = {'n_factors': [80, 100, 110, 120, 130, 140],
          'n_epochs': [20, 30, 40, 50, 60, 70, 80],
          'init_mean': [-0.5, 0, 0.5],
         'biased': [True, False]}

g_s_svd_2 = GridSearchCV(SVD, param_grid=params, cv=5, refit=True)

g_s_svd_2.fit(data)
g_s_svd_2.best_params['rmse']

{'n_factors': 140, 'n_epochs': 50, 'init_mean': 0, 'biased': True}

In [41]:
# instantiating SVD with best hyperparameters from gridsearch
g_s_svd_2 = SVD(n_factors=140 ,n_epochs=50, init_mean=0, biased=True)

# fit on trainset and make predictions using testset
g_s_svd_2.fit(trainset)
predictions_2 = g_s_svd_2.test(testset)
g_s_svd_2 = accuracy.rmse(predictions_2)

RMSE: 0.8993

In [42]:
model_comp('svd_grid_2', .899, {'n_factors': 140, 'n_epochs': 50, 'init_mean': 0, 'biased': True})

### SVD Grid Search #3

In [35]:
#test grid search
params = {'n_factors': [110, 120, 130, 140, 160],
          'n_epochs': [10, 20, 30, 40, 50, 60, 70, 80],
          'init_mean': [-0.5, 0, 0.5],
         'biased': [True, False]}

g_s_svd_2 = GridSearchCV(SVD, param_grid=params, cv=5, refit=True)

g_s_svd_2.fit(data)
g_s_svd_2.best_params['rmse']

{'n_factors': 160, 'n_epochs': 40, 'init_mean': 0, 'biased': True}

In [43]:
# instantiating SVD with best hyperparameters from gridsearch
g_s_svd_3 = SVD(n_factors=160 ,n_epochs=40, init_mean=0, biased=True)

# fit on trainset and make predictions using testset
g_s_svd_3.fit(trainset)
predictions_3 = g_s_svd_3.test(testset)
g_s_svd_3_rmse = accuracy.rmse(predictions_3)

RMSE: 0.9023

In [44]:
model_comp('g_s_svd_3', .902, {'n_factors': 160, 'n_epochs': 40, 'init_mean': 0, 'biased': True})

### Model #3 - SVDpp

Add SVD ++ information here

In [39]:
# New hyperparameter dictionary for nmf model
svd_pp_param_grid = {'n_factors':[5, 10, 20, 30, 40, 50],
                  'n_epochs': [20, 30, 40, 50, 60],
                    'init_mean':[0, .01, .02, .03],
                    'reg_all':[.01, .02, .03]}
svd_pp_model = GridSearchCV(SVDpp, param_grid=svd_pp_param_grid, cv=3, joblib_verbose=10, return_train_measures=True)

# Fit and return the best hyperparameters
svd_pp_model.fit(data)
print(svd_pp_model.best_params['rmse'])

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.2s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:    0.4s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   3 out of   3 | elapsed:    0.5s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   4 out of   4 | elapsed:    0.7s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    0.8s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   6 out of   6 | elapsed:    1.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   7 out of   7 | elapsed:    1.2s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   8 out of   8 | elapsed:    1.4s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   9 out of   9 | elapsed:    1.5s remaining:    0.0s

{'n_factors': 50, 'n_epochs': 60, 'init_mean': 0, 'reg_all': 0.02}
0.9469360163421675

[Parallel(n_jobs=1)]: Done 1080 out of 1080 | elapsed:  7.6min finished

In [45]:
# instantiating NFM
svd_pp_model = SVDpp(n_factors=50, n_epochs=60, init_mean=.00, reg_all=.02)

# Fit on trainset and make predictions using testset to return RMSE metric
svd_pp_model.fit(trainset)
predictions = svd_pp_model.test(testset)
svd_pp_model_1 = accuracy.rmse(predictions)

RMSE: 0.9114

In [46]:
model_comp('svd_pp_1', .914, {'n_factors': 50, 'n_epochs': 60, 'init_mean': 0, 'reg_all': 0.02} )

### Model #7 - SVD ++ Grid Search #2

In [45]:
# New hyperparameter dictionary for nmf model
svd_pp_param_grid = {'n_factors':[50, 70, 90, 120, 140, 150],
                  'n_epochs': [20, 40, 60, 80, 100],
                    'init_mean':[0, .01, .02, .03],
                     'reg_all':[.01, .02, .03]}
svd_pp_model_2 = GridSearchCV(SVDpp, param_grid=svd_pp_param_grid, cv=3, joblib_verbose=10, return_train_measures=True)

# Fit and return the best hyperparameters
svd_pp_model_2.fit(data)
svd_pp_model_2.best_params['rmse']

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.3s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:    0.6s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   3 out of   3 | elapsed:    1.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   4 out of   4 | elapsed:    1.3s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    1.6s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   6 out of   6 | elapsed:    1.9s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   7 out of   7 | elapsed:    2.2s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   8 out of   8 | elapsed:    2.5s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   9 out of   9 | elapsed:    2.8s remaining:    0.0s
[Parallel(n_jobs=1)]: Done 1080 out of 1080 | elapsed: 24.0min finished

{'n_factors': 90, 'n_epochs': 40, 'init_mean': 0, 'reg_all': 0.03}

In [47]:
# instantiating SVD
svd_pp_model_2 = SVDpp(n_factors=90, n_epochs=40, init_mean=0.0, reg_all=.03)

# Fit on trainset and make predictions using testset to return RMSE metric
svd_pp_model_2.fit(trainset)
predictions = svd_pp_model_2.test(testset)
svd_pp_model_2_rmse = accuracy.rmse(predictions)

RMSE: 0.9038

In [48]:
model_comp('svd_pp_2', .903, {'n_factors': 90, 'n_epochs': 40, 'init_mean': 0, 'reg_all': 0.03})

### Model #8 - SVD++ Grid Search #3

In [52]:
# New hyperparameter dictionary for nmf model
svd_pp_param_grid = {'n_factors':[90, 100, 110, 120, 130],
                  'n_epochs': [20, 30, 40, 50, 60, 70],
                    'init_mean':[0, .01, .02, .03],
                    'reg_all':[.01, .02, .03]}
svd_pp_model_3 = GridSearchCV(SVDpp, param_grid=svd_pp_param_grid, cv=3, joblib_verbose=10, return_train_measures=True)

# Fit and return the best hyperparameters
svd_pp_model_3.fit(data)
svd_pp_model_3.best_params['rmse']

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.4s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:    0.9s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   3 out of   3 | elapsed:    1.3s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   4 out of   4 | elapsed:    1.8s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    2.2s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   6 out of   6 | elapsed:    2.6s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   7 out of   7 | elapsed:    3.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   8 out of   8 | elapsed:    3.5s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   9 out of   9 | elapsed:    3.9s remaining:    0.0s
[Parallel(n_jobs=1)]: Done 1080 out of 1080 | elapsed: 18.9min finished

{'n_factors': 100, 'n_epochs': 30, 'init_mean': 0.02, 'reg_all': 0.02}

In [49]:
# instantiating NFM
svd_pp_model_3 = SVDpp(n_factors=100, n_epochs=30, init_mean=0.02, reg_all=.02)

# Fit on trainset and make predictions using testset to return RMSE metric
svd_pp_model_3.fit(trainset)
predictions = svd_pp_model_3.test(testset)
svd_pp_model_3_rmse = accuracy.rmse(predictions)

RMSE: 0.8961

In [50]:
model_comp('svd_pp_3', .896, {'n_factors': 100, 'n_epochs': 30, 'init_mean': 0.02, 'reg_all': 0.02})

### Model #9 - SVD PP - Grid Search #4

In [56]:
# New hyperparameter dictionary for nmf model
svd_pp_param_grid = {'n_factors':[120, 125, 130, 140],
                  'n_epochs': [5, 10, 15, 20, 30, 35],
                    'init_mean':[0, .01, .02, .03],
                    'reg_all':[.01, .02, .03]}
svd_pp_model_4 = GridSearchCV(SVDpp, param_grid=svd_pp_param_grid, cv=3, joblib_verbose=10, return_train_measures=True)

# Fit and return the best hyperparameters
svd_pp_model_4.fit(data)
print(svd_pp_model_4.best_params['rmse'])

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.2s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:    0.3s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   3 out of   3 | elapsed:    0.5s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   4 out of   4 | elapsed:    0.6s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    0.8s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   6 out of   6 | elapsed:    0.9s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   7 out of   7 | elapsed:    1.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   8 out of   8 | elapsed:    1.3s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   9 out of   9 | elapsed:    1.4s remaining:    0.0s

{'n_factors': 125, 'n_epochs': 35, 'init_mean': 0.02, 'reg_all': 0.03}

[Parallel(n_jobs=1)]: Done 864 out of 864 | elapsed:  7.6min finished

In [51]:
# instantiating NFM
svd_pp_model_4 = SVDpp(n_factors=125, n_epochs=35, init_mean=.02, reg_all=.03)

# Fit on trainset and make predictions using testset to return RMSE metric
svd_pp_model_4.fit(trainset)
predictions = svd_pp_model_4.test(testset)
svd_pp_model_4_rmse = accuracy.rmse(predictions)

RMSE: 0.8859

In [52]:
model_comp('svd_pp_4', 0.885, {'n_factors': 125, 'n_epochs': 35, 'init_mean': 0.02, 'reg_all': 0.03})

### Model #10 - SVD PP - Grid Search #5

In [59]:
# New hyperparameter dictionary for nmf model
svd_pp_param_grid = {'n_factors':[110, 120, 125, 130, 135, 140, 145, 150, 160],
                  'n_epochs': [20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120],
                    'init_mean':[0, .01],
                    'reg_all':[.01, .02, .03]}
svd_pp_model_5 = GridSearchCV(SVDpp, param_grid=svd_pp_param_grid, cv=3, joblib_verbose=10, return_train_measures=True)

# Fit and return the best hyperparameters
svd_pp_model_5.fit(data)
svd_pp_model_5.best_params['rmse']

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.5s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:    1.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   3 out of   3 | elapsed:    1.5s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   4 out of   4 | elapsed:    2.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    2.4s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   6 out of   6 | elapsed:    2.9s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   7 out of   7 | elapsed:    3.4s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   8 out of   8 | elapsed:    3.9s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   9 out of   9 | elapsed:    4.4s remaining:    0.0s
[Parallel(n_jobs=1)]: Done 1782 out of 1782 | elapsed: 56.2min finished

{'n_factors': 125, 'n_epochs': 50, 'init_mean': 0.01, 'reg_all': 0.03}

In [53]:
# instantiating NFM
svd_pp_model_5 = SVDpp(n_factors=125, n_epochs=50, init_mean=.01, reg_all=.03)

# Fit on trainset and make predictions using testset to return RMSE metric
svd_pp_model_5.fit(trainset)
predictions = svd_pp_model_5.test(testset)
svd_pp_model_5_rmse = accuracy.rmse(predictions)

RMSE: 0.9093

In [54]:
model_comp('svd_pp_5', .911, {'n_factors': 125, 'n_epochs': 50, 'init_mean': 0.01, 'reg_all': 0.03} )

### Model #11 - SVD ++ Grid Search #6

In [63]:
svd_pp_param_grid = {'n_factors':[90, 100, 105, 110, 115, 120, 125, 130, 135, 140, 150],
                  'n_epochs': [5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 60, 70, 80, 90],
                    'init_mean':[0, .01, .02],
                    'reg_all':[.01, .02, .03, .04, .05]}
svd_pp_model_6 = GridSearchCV(SVDpp, param_grid=svd_pp_param_grid, cv=3, joblib_verbose=10, return_train_measures=True)

# Fit and return the best hyperparameters
svd_pp_model_6.fit(data)
svd_pp_model_6.best_params['rmse']

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.2s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:    0.3s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   3 out of   3 | elapsed:    0.4s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   4 out of   4 | elapsed:    0.5s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    0.7s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   6 out of   6 | elapsed:    0.8s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   7 out of   7 | elapsed:    0.9s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   8 out of   8 | elapsed:    1.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   9 out of   9 | elapsed:    1.2s remaining:    0.0s
[Parallel(n_jobs=1)]: Done 6930 out of 6930 | elapsed: 118.3min finished

{'n_factors': 120, 'n_epochs': 50, 'init_mean': 0.01, 'reg_all': 0.05}

In [55]:
# instantiating NFM
svd_pp_model_6 = SVDpp(n_factors=120, n_epochs=50, init_mean=.01, reg_all=.05)

# Fit on trainset and make predictions using testset to return RMSE metric
svd_pp_model_6.fit(trainset)
predictions = svd_pp_model_6.test(testset)
svd_pp_model_6_rmse = accuracy.rmse(predictions)

RMSE: 0.9127

In [56]:
model_comp('svd_pp_6', .912, {'n_factors': 120, 'n_epochs': 50, 'init_mean': 0.01, 'reg_all': 0.05})

### Model #12 - SVD++ Grid Search  #7

In [221]:
svd_pp_param_grid = {'n_factors':[120, 130, 140],
                  'n_epochs': [80, 90, 100, 120, 130],
                    'init_mean':[0, .01, .02],
                    'reg_all':[0.02, 0.08, 0.4, 0.6]}
svd_pp_model_7 = GridSearchCV(SVDpp, param_grid=svd_pp_param_grid, cv=3, joblib_verbose=10, return_train_measures=True)

# Fit and return the best hyperparameters
svd_pp_model_7.fit(data)
svd_pp_model_7.best_params['rmse']

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    2.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:    3.9s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   3 out of   3 | elapsed:    5.8s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   4 out of   4 | elapsed:    7.7s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    9.6s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   6 out of   6 | elapsed:   11.5s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   7 out of   7 | elapsed:   13.4s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   8 out of   8 | elapsed:   15.3s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   9 out of   9 | elapsed:   17.2s remaining:    0.0s
[Parallel(n_jobs=1)]: Done 540 out of 540 | elapsed: 24.6min finished

{'n_factors': 120, 'n_epochs': 80, 'init_mean': 0, 'reg_all': 0.08}

In [57]:
# instantiating NFM
svd_pp_model_7 = SVDpp(n_factors=120, n_epochs=80, reg_all=.08)

# Fit on trainset and make predictions using testset to return RMSE metric
svd_pp_model_7.fit(trainset)
predictions = svd_pp_model_7.test(testset)
svd_pp_model_7_rmse = accuracy.rmse(predictions)

RMSE: 0.9039

In [58]:
model_comp('svd_pp_7', .903, {'n_factors': 120, 'n_epochs': 80, 'init_mean': 0, 'reg_all': 0.08})

In [82]:
#exploding params and saving to model df dataframe
model_params = model_df["params"].apply(pd.Series)
model_df_params = pd.merge(model_df, model_params, left_index=True, right_index=True)
model_df_params.drop(columns=['params', 0], inplace=True)
model_df_params = model_df_params.sort_values(by='rmse', ascending=True)

### Model Comparison

After comparing all models, the SVD ++ models performed the best in terms of RMSE. Our final model for the collaborative system will be SVD ++. 

Since the RMSE scores are so close and only vary my .01 for the top performing models. I will test out each of the models to see which results seem to make the most sense. I will test the models using my name as the user, since i completed the survey, in addition to three other users whose ski preferences I am aware of.

In [84]:
model_df_params.head()

        model   rmse biased  init_mean  n_epochs  n_factors  reg_all
8    svd_pp_4  0.885    NaN       0.02      35.0      125.0     0.03
7    svd_pp_3  0.896    NaN       0.02      30.0      100.0     0.02
3  svd_grid_2  0.899   True       0.00      50.0      140.0      NaN
4   g_s_svd_3  0.902   True       0.00      40.0      160.0      NaN
6    svd_pp_2  0.903    NaN       0.00      40.0       90.0     0.03

#### Best Model

In [63]:
# instantiating NFM
best_model = SVDpp(n_factors=140, n_epochs=120, init_mean=.01)

# Fit on trainset and make predictions using testset to return RMSE metric
best_model.fit(trainset)
predictions = best_model.test(testset)
best_model_rmse = accuracy.rmse(predictions)

RMSE: 0.8993

### Training on Full Dataset

In [104]:
#setting scale
reader = Reader(rating_scale=(1, 5))

#loading final dataset
data_full = Dataset.load_from_df(surprise_df[['user_name', 'ski_resort', 'rating']], reader)

#making trainset
full_trainset = data_full.build_full_trainset()

algo = SVD(n_factors=140, n_epochs=50)
algo.fit(full_trainset)

In [ ]:
SVDpp(n_factors=140, n_epochs=120, init_mean=.01)

## Collaborative System - Building Function

In [89]:
surprise_df.head()

  user_name         ski_resort  rating
0    anon_1        Winter Park     4.0
1    anon_1     Arapahoe Basin     5.0
2    anon_1          Steamboat     5.0
3    anon_1    Copper Mountain     5.0
4    anon_2  Solitude Mountain     5.0

In [90]:
#saving new dataframe with only user information
user_df = surprise_df.reset_index()
user_df.set_index('user_name', inplace = True)
user_df.drop(columns = ['rating', 'index'], inplace =True)
user_df.head()

                  ski_resort
user_name
anon_1           Winter Park
anon_1        Arapahoe Basin
anon_1             Steamboat
anon_1       Copper Mountain
anon_2     Solitude Mountain

### Saving Trained Model

This code was found on [Google Colab](https://colab.research.google.com/github/singhsidhukuldeep/Recommendation-System/blob/master/Building_Recommender_System_with_Surprise.ipynb#scrollTo=lM7Db2cj7-IZ)

In [70]:
#saving trained model
from surprise import dump
import os

model_filename = "./model.pickle"

print (">> Starting dump")

# Dump algorithm and reload it.
file_name = os.path.expanduser(model_filename)
dump.dump(file_name, algo=algo)

print (">> Dump done")
print(model_filename)

>> Starting dump
>> Dump done
./model.pickle

In [ ]:
# #loading saved model
# def load_model(model_filename):
#     print (">> Loading dump")
#     from surprise import dump
#     import os
#     file_name = os.path.expanduser(model_filename)
#     _, loaded_model = dump.load(file_name)
#     print (">> Loaded dump")
#     return loaded_model

### Function #1  - User & Recommendation #  Inputs

In [93]:
def shred_recommender():
    user = str(input('Name: '))
    n_recs = int(input('How many resort recommendations do you want? '))
    
    have_rated = list(user_df.loc[user, 'ski_resort'])
    not_rated = content_df.copy()
    not_rated = not_rated.loc[~not_rated['ski_resort'].isin(have_rated)]
    not_rated = not_rated.drop_duplicates(subset=['ski_resort'])
    not_rated.reset_index(inplace=True)
    not_rated['predicted_rating'] = not_rated['ski_resort'].apply(lambda x: algo.predict(user, x).est)
    not_rated.sort_values(by='predicted_rating', ascending=False, inplace=True)
    not_rated = not_rated[['ski_resort', 'state', 'city', 'sumt', 'drop', 'base', 'intermediate_runs',
                          'advanced_runs', 'expert_runs', 'predicted_rating', 'ikon', 'epic',
                          'mountain_collective']].copy()
    return not_rated.head(n_recs)

### Function Testing

After using different models for the main model, I decided to use the hyperparameters associated with SVD Grid Search #6. The other hyperparameters seemed to return too many local small mountains in the results, which myself as well as the other users typically do not go to unless they're close to the main city they live in.

I plan to send the recommendations to the users below and to get their feedback.

#### User #1 - Stephanie

In [94]:
final_user_df.loc[final_user_df["user_name"] == "Stephanie Ciaccia"]

,review_date,state,ski_resort,rating,review,user_name
36,2023-05-05,New York,Hunter Mountain,1.0,Very crowded and snow quality is typically low...,Stephanie Ciaccia
37,2023-05-05,Colorado,Vail,4.0,Amazing back bowls and snow. Pricey resort tho...,Stephanie Ciaccia
38,2023-05-05,Utah,Snowbird,5.0,Amazing terrain and huge mountain yet still fe...,Stephanie Ciaccia
39,2023-05-05,Colorado,Breckenridge,4.0,Great bus route that makes the mountain easily...,Stephanie Ciaccia
40,2023-05-05,Utah,Park City Mountain,4.0,"Great terrain, close to airport, but lodging i...",Stephanie Ciaccia

In [105]:
shred_recommender()

Name: Stephanie Ciaccia
How many resort recommendations do you want? 3

,ski_resort,state,city,sumt,drop,base,intermediate_runs,advanced_runs,expert_runs,predicted_rating,ikon,epic,mountain_collective
140,Lutsen Mountains,Minnesota,Lutsen,1688,825,800,58,24,8,4.730035,0,0,0
279,Telluride,Colorado,Telluride,13150,4425,8725,30,21,34,4.615805,0,0,0
231,Ski Brule,Michigan,Iron River,1860,500,1360,35,24,6,4.553813,0,0,0

### User #2 - Raghava

In [96]:
final_user_df.loc[final_user_df["user_name"] == "Raghava Kamalesh"]

,review_date,state,ski_resort,rating,review,user_name
55,2023-05-10,Colorado,Breckenridge,4.0,"Breck is a decent resort, but a lot of the ter...",Raghava Kamalesh
56,2023-05-10,Colorado,Crested Butte Mountain,5.0,Really amazing and extensive terrain for advan...,Raghava Kamalesh
57,2023-05-10,Colorado,Vail,5.0,I enjoyed Vail a lot more this time than my la...,Raghava Kamalesh
58,2023-05-10,Colorado,Beaver Creek,3.0,"There are some good runs here, and part of my ...",Raghava Kamalesh
59,2023-05-10,Colorado,Telluride,5.0,Telluride is amazing. The town has very good f...,Raghava Kamalesh

In [106]:
shred_recommender()

Name: Raghava Kamalesh
How many resort recommendations do you want? 3

,ski_resort,state,city,sumt,drop,base,intermediate_runs,advanced_runs,expert_runs,predicted_rating,ikon,epic,mountain_collective
302,Whiteface Mountain,New York,Wilngton,4650,3430,1220,46,31,0,4.833741,0,0,0
307,Wildcat Mountain,New Hampshire,Jackson,4062,2112,1950,46,33,0,4.829843,0,1,0
139,Lutsen Mountains,Minnesota,Lutsen,1688,825,800,58,24,8,4.787397,0,0,0

In [97]:
list(user_df.loc['Raghava Kamalesh', 'ski_resort'])

['Breckenridge', 'Crested Butte Mountain', 'Vail', 'Beaver Creek', 'Telluride']

In [202]:
shred_recommender()

Name: Alexandria Kelly
How many resort recommendations do you want? 3

,ski_resort,state,city,sumt,drop,base,intermediate_runs,advanced_runs,expert_runs,predicted_rating,ikon,epic,mountain_collective
16,Alta,Utah,Alta,11068.0,2538.0,8530.0,0.0,0.0,0.0,4.646657,1.0,0.0,1.0
54,Kirkwood,California,Kirkwood,9800.0,2000.0,7800.0,0.0,0.0,0.0,4.555924,0.0,1.0,0.0
18,Mt. Baker,Washington,Bellingham,5000.0,1500.0,3500.0,0.0,0.0,0.0,4.515822,0.0,0.0,0.0

In [98]:
list(user_df.loc['Alexandria Kelly', 'ski_resort'])

['Stevens Pass', 'Vail', 'Snowbird', 'Park City Mountain']

### Function #2  - User, Recommendation #, and State Inputs

In [112]:
def shred_recommender_state():
    user = str(input('Name: '))
    n_recs = int(input('How many resort recommendations do you want? '))
    state = str(input('What state would you like to shred in? '))
    
    have_rated = list(user_df.loc[user, 'ski_resort'])
    not_rated = content_df.copy()
    not_rated = not_rated.loc[~not_rated['ski_resort'].isin(have_rated) & (not_rated['state'] == state)]
    not_rated = not_rated.drop_duplicates(subset=['ski_resort'])
    not_rated.reset_index(inplace=True)
    not_rated['predicted_rating'] = not_rated['ski_resort'].apply(lambda x: algo.predict(user, x).est)
    not_rated.sort_values(by='predicted_rating', ascending=False, inplace=True)
    not_rated = not_rated[['ski_resort', 'state', 'city', 'sumt', 'drop', 'base', 'intermediate_runs',
                          'advanced_runs', 'expert_runs', 'predicted_rating', 'ikon', 'epic',
                          'mountain_collective']].copy()
    return not_rated.head(n_recs)

In [113]:
shred_recommender_state()

Name: Stephanie Ciaccia
How many resort recommendations do you want? 3
What state would you like to shred in? Utah

,ski_resort,state,city,sumt,drop,base,intermediate_runs,advanced_runs,expert_runs,predicted_rating,ikon,epic,mountain_collective
8,Snowbasin,Utah,Huntsville,9350,2900,6450,33,52,6,4.434722,1,0,1
3,Brighton,Utah,Brighton,10500,1745,8755,0,0,0,4.297999,1,0,0
2,Brian Head,Utah,Brian Head,10970,1548,9600,0,0,0,4.161893,0,0,0